services:
    mysql:
        image: mysql:8
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
            MYSQL_DATABASE: ${SHORT_NAME}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_USER_PASS}
        volumes:
            - ./docker/mysql:/docker-entrypoint-initdb.d
            - ./:/application
        ports:
            - "${DB_PORT}:3306"

    cakephp:
        build:
            dockerfile: docker/cakephp/Dockerfile
        working_dir: /application/webroot
        volumes:
            - ./:/application
        environment:
            - WEB_DOCUMENT_ROOT=/application/webroot
            - DATABASE_URL=mysql://${DB_USERNAME}:${DB_USER_PASS}@mysql/${SHORT_NAME}
            - DATABASE_TEST_URL=mysql://root:${DB_ROOT_PASS}@mysql/test
            - SHORT_NAME=${SHORT_NAME}
            - WEB_PORT=${WEB_PORT}
            - DB_PORT=${DB_PORT}
        ports:
            - "${WEB_PORT}:80"

#volumes:
#    mysqldata:
