services:
    mysql:
        image: mysql:8
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
            MYSQL_DATABASE: ${SHORT_NAME}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_USER_PASS}
        volumes:
            - mysqldata:/var/lib/mysql
            - ./docker/mysql:/docker-entrypoint-initdb.d
        ports:
            - "${DB_PORT}:3306"

    app:
        working_dir: /var/www/html/webroot
        build:
            dockerfile: Dockerfile
        ports:
            - "${WEB_PORT}:80"
        environment:
            - WEB_DOCUMENT_ROOT=/var/www/html/webroot
            - DATABASE_URL=mysql://${DB_USERNAME}:${DB_USER_PASS}@mysql/${SHORT_NAME}
            - DATABASE_TEST_URL=mysql://root:${DB_ROOT_PASS}@mysql/test
            - SHORT_NAME=${SHORT_NAME}
            - WEB_PORT=${WEB_PORT}
            - DB_PORT=${DB_PORT}
            - DB_HOST=mysql
            - DB_USERNAME=${DB_USERNAME}
            - DB_USER_PASS=${DB_USER_PASS}

        depends_on:
            - mysql

volumes:
    mysqldata:
